::-webkit-scrollbar {
  width: 6px;
  height: 4px;
  background: rgb(217, 217, 217);
  color: rgb(102, 145, 86);
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(102, 145, 86);
  border-radius: 0px;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}
