#cart-container {
  #empty-cart {
    button {
      background-color: rgba(65, 82, 63, 0.753);
      &:hover {
        background-color: #c0d1bd;
        color: inherit;
      }
    }
  }
  #product-cart {
    width: 650px;
    background-color: #ffffff;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.122);
    border-radius: 8px;
    @media screen and (max-width: 567px) {
      width: 480px;
      box-shadow: none;
      border-radius: 0;
    }
    .cart-header {
      background-color: #ecf1eb;
      span {
        background-color: #94ad90;
      }
    }
    .card-body {
      .products {
        .single-product {
          .product-container {
            img {
              width: 125px;
              height: 125px;
              object-fit: cover;
              border: #94ad90 solid 2px;
            }
            div {
              .amount-info {
                button {
                  background-color: #e8eee7;
                  &:hover {
                    background-color: #41523fc0;
                  }
                }
              }
            }
          }
          .delete-product {
            .delete-icon {
              &:hover {
                transform: scale(1.2);
              }
            }
          }
        }
      }
      .total {
        border-top: rgba(65, 82, 63, 0.753) solid 1px;
      }
      .action {
        a {
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12);
        }
        button {
          background-color: rgba(65, 82, 63, 0.753);
          &:hover {
            background-color: #c0d1bd;
            color: inherit;
          }
        }
      }
    }
  }
}
