header {
  position: sticky;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid rgb(211, 213, 212);
  .shipping-campaign {
    background-color: #c0d1bd;
    color: rgb(69, 95, 77);
    font-weight: 500;
  }
}
