#login-container {
  #login-div {
    background-color: #ffffff;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    #login-heading {
      background-color: #ecf1eb;
      font-size: 1.5rem;
    }
    .text-login {
      color: #5a6c58c0;
    }
    form {
      .input-div {
        border-color: #41523fc0;
      }
      input,
      span {
        color: #41523fc0;
      }
      button {
        background-color: rgba(65, 82, 63, 0.753);
        &:hover {
          background-color: #c0d1bd;
          color: inherit;
        }
      }
    }
  }
}
