#logout-container {
  #logout {
    width: 380px;

    @media screen and (max-width: 567px) {
      width: 310px;
    }

    .form-heading {
      background-color: #ecf1eb;
    }
    button {
      background-color: rgba(65, 82, 63, 0.753);
      &:hover {
        background-color: #c0d1bd;
        color: inherit;
      }
    }
  }
}
