nav {
  background-color: #ffffff;
  .brand {
    &:hover {
      color: #cbd7c9;
    }
  }
  #icons-div {
    a {
      &.active {
        color: #9ca69a;
      }
      &:hover {
        color: #c0d1bd;
        cursor: pointer;
      }
    }
    #amountSpan {
      display: flex;
      align-items: center;
      width: 20px;
      height: 20px;
      color: inherit;
      background-color: #c0d1bd;
      border-radius: 50%;
    }
  }
}
