nav {
  background-color: rgba(255, 255, 255, 0.8);
  .brand {
    &:hover {
      color: #cbd7c9;
    }
  }
  .toggle {
    border: 1px solid #41523fc0;

    &:hover {
      color: #c0d1bd;
      border-color: #c0d1bd;
      cursor: pointer;
    }
  }
  .icons-div {
    a {
      &.active {
        color: #bcbbb1;
      }
      &:hover {
        color: #c0d1bd;
        cursor: pointer;
      }
    }
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
    }
    #first-letter {
      padding: 12px;
      font-size: 1.3rem;
      background-color: rgba(65, 82, 63, 0.753);
      color: whitesmoke;
      &:hover {
        background-color: #c0d1bd;
        color: rgba(65, 82, 63, 0.753);
      }
    }
    #amountSpan {
      color: inherit;
      background-color: #c0d1bd;
      border-radius: 50%;
    }
  }
}
