nav {
  .brand {
    &:hover {
      color: #c0d1bd;
    }
  }
  #icons-div {
    a {
      &.active {
        color: #869184;
      }
      &:hover {
        color: #c0d1bd;
        cursor: pointer;
      }
    }
  }
}
