.not-found-container {
  width: 800px;
  @media screen and (max-width: 567px) {
    max-width: 350px;
  }
  div {
    h1 {
      letter-spacing: 0.03rem;
    }
    div {
      img {
        width: 360px;
        object-fit: cover;
      }
      h2 {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
        &:hover {
          transform: scale(0.9);
        }
      }
    }
  }
}
