.not-found-container {
  div {
    width: 700px;
    @media screen and (max-width: 797px) {
      max-width: 320px;
    }
    h1 {
      letter-spacing: 0.03rem;
    }
    div {
      img {
        width: 300px;
        object-fit: cover;
        @media screen and (max-width: 797px) {
          max-width: 300px;
        }
      }
      h2 {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
        &:hover {
          transform: scale(0.9);
        }
      }
    }
  }
}
