.payment-container {
  width: 1050px;

  .billing-address-form,
  .delivery-address-form {
    @media screen and (max-width: 560px) {
      width: 300px;
    }
    h1 {
      background-color: #94ad90;
      color: #fefefe;
    }
    input,
    select {
      border: 1px solid #41523fc0;
    }
  }
}

.method-container {
  h1 {
    background-color: #94ad90;
    color: #fefefe;
  }
  .payment-form,
  .payment-form-container,
  .billing-summary {
    @media screen and (max-width: 560px) {
      width: 300px;
    }
    .paypal-button {
      background-color: #019cde;
      color: #fefefe;
    }
    .payment-button {
      background-color: rgba(65, 82, 63, 0.753);
      &:hover {
        background-color: #c0d1bd;
        color: inherit;
      }
    }
  }
}
