.payment-container {
  width: 1050px;
  @media screen and (max-width: 567px) {
    width: 480px;
  }
  .billing-address-form,
  .delivery-address-form {
    h1 {
      background-color: #94ad90;
      color: #fefefe;
    }
    input,
    select {
      border: 1px solid #41523fc0;
    }
  }
}

.method-container {
  h1 {
    background-color: #94ad90;
    color: #fefefe;
  }
  .payment-form {
    .paypal-button {
      background-color: #019cde;
      color: #fefefe;
    }
    .payment-button {
      background-color: rgba(65, 82, 63, 0.753);
      &:hover {
        background-color: #c0d1bd;
        color: inherit;
      }
    }
  }
}

// .overlay {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(67, 10, 10, 0.757);
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   z-index: 1000;
// }
// .overlay {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(67, 10, 10, 0.757);
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   z-index: 1000;
// }
