#subnav {
  color: #94ad90;
  position: fixed;
  top: 38%;
  left: 1.6%;
  .icons-container {
    background-color: #ffffff;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.069);
    a {
      &.active {
        color: #bcbbb1;
      }
      &:hover {
        color: #41523fc0;
        cursor: pointer;
      }
    }
  }
}
